{% extends "base.html" %}

{% load static %}

{% block title %}
MY CV
{% endblock %}

{% block message %}

{{ message }}

{% endblock %}


{% block content %}
</br></br>
<center>
	<h4>Abdul Majid</h4>
	<h2> Software Developer </h2>
	<p>https://github/Abdul12majid | yisaabdulmajid@gmail.com | +2349049714771 | Remote, Nigeria</p>
</center>

<u><b>Techincal Skills</b></u></br>
<p>HTML, CSS, Python, Django, Flask, RESTApi, Selenium, Docker, Java, Basic Javascript, Git/Github, Linux, MySQL, Postgres, Sqlite, Script writing.</p></br>

<u><b>Soft Skills</b></u></br>
<p>Clear communication, Public Speaking, Time Management Skills, Analytical & Critical thinking, Ability to work in teams 
and independently, Leadership & Team management skills, Ease and speed of learning new tools and languages</p>


<u><b>Education</b></u></br>
<ul>
<li>Secondary School</li>
<p>Rehoboth College, Ilorin, Nigeria(2013 - 2018)</p>

<li>Bachelor of Science</li>
<p>University of Ilorin, Nigeria(2019-2024)Computer Science</p>
Courses taken – Data Structures & Algorithms, Computer Architecture, System Programming, Internet Technology, Logic Programming, 
Digital Designs & Microprocessors, C programming, Java Programming, etc. </br>
Volunteer - Darewood Students Mentor Association
- National Association of Computing Science Students(NACOS) Sports Committee.
	
</ul>

<u><b>Experience</b></u></br>

<p><i>Internship(Softrays ICT Academy)</i></p>
<ul>
	<li>Participated in code reviews, providing valuable feedback to improve code.</li>
    <li>Worked closely with the backend development team to integrate APIs.</li>
    <li>Collaborated with senior developers to work on python related problems.</li>
 </ul>

<p><i>Student</i></p>
<ul>
  <li>Completed the training to gain expertise in UI/UX design principles.</li>
  <li>Utilized design tools to create interactive prototypes for various design concepts.</li>
  <li>Developed personal project to apply learnt design skills.</li>
</ul>


<u><b>Interests</b></u></br>
<p>Watching football, Playing games, Writing Scripts, Listening to music.</p>

<u><b>Languages</b></u></br>

<p>English, Arabic</p>

<center>
	<a href="{% static 'portfolio/scss/Majid_cv.pdf' %}" class="btn btn-outline-danger" download="my_cv.pdf"><i class="icon-down-circled2 "></i>Download</a>
</center>








{% endblock %}